<div ng-controller="UsersCtrl">

        <!-- <lx-tabs lx-active-tab="vm.activeTab" class="bgc-white">
            <lx-tab lx-label="Lorem Ipsum 1">
                <p class="p+">Lorem Ipsum Content 1</p>
            </lx-tab>

            <lx-tab lx-label="Lorem Ipsum 2" ng-disabled="vm.tabIsDisabled">
                <p class="p+">Lorem Ipsum Content 2</p>
            </lx-tab>

            <lx-tab lx-label="Lorem Ipsum 3">
                <p class="p+">Lorem Ipsum Content 3</p>
            </lx-tab>
        </lx-tabs> -->
        <div flex-container="row" flex-column="12">
            <div flex-item="8" class="p+">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Liste des utilisateurs</strong>
                        <lx-select lx-label="Trier par :" lx-choices="triOptions" ng-model="tri" ng-disabled="true">
                            <lx-select-selected>
                                {{ $selected.label }}
                            </lx-select-selected>
                            <lx-select-choices>{{ $choice.label }}</lx-select-choices>
                        </lx-select>

                        <rzslider rz-slider-model="howMuchToShow.value" rz-slider-options="howMuchToShow.options"></rzslider>
                        <div class="toolbar has-divider has-divider--dark">
                            <div class="toolbar__label pl">
                                <span>{{ selectedRows.length || 0 }} selected item(s)</span>
                            </div>
                            <div class="toolbar__right">
                                <div class="p+">
                                    <lx-switch ng-model="onlyAdult" ng-click="showOnlyAdult">Voir que trentenaires</lx-switch>
                                </div>
                                <p>{{ onlyAdult }}</p>

                                <lx-button lx-size="l" lx-color="grey" lx-type="icon" ng-if="selectedRows.length === 1">
                                    <i class="mdi mdi-pencil"></i>
                                </lx-button>

                                <lx-button lx-size="l" lx-color="grey" lx-type="icon" ng-if="selectedRows.length >= 1" ng-click="supprimerUser(selectedRows);LxDataTableService.unselectAll()">
                                    <i class="mdi mdi-delete"></i>
                                </lx-button>
                            </div>
                        </div>
                        <lx-data-table id="usersListTable" lx-selectable="true" lx-thumbnail="true" lx-thead="advancedDataTableThead" lx-tbody="users"></lx-data-table>

                        <!-- <table class="table table-striped">
                            <tr>
                                <th></th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Sexe</th>
                                <th>Age</th>
                                <th>Ville</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="user in users | limitTo : howMuchToShow.value : 0 ">
                                <td>
                                    <img ng-src="{{user.avatarUrl}}" alt="" class="img-rounded center-block" />
                                </td>
                                <td>{{user.nom}}</td>
                                <td>{{user.prenom}}</td>
                                <td>{{user.sexe ? 'Homme' : 'Femme'}}</td>
                                <td>{{user.age}} ans</td>
                                <td>{{user.ville}}</td>
                                <td><button class="btn btn-default" ng-click="supprimerUser(user.nom)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                            </tr>
                        </table> -->
                    </div>
                </div>
            </div>
            <div flex-item="4" class="p+">
                <div class="card">
                    <form ng-submit="ajouterUser()">
                        <div class="p+">
                            <strong class="fs-headline display-block">Gestion des Utilisateurs</strong>
                            <lx-text-field lx-label="Nom">
                                <input type="text" class="form-control" id="nom" ng-model="vars.nom">
                            </lx-text-field>
                            <lx-text-field lx-label="Prénom">
                                <input type="text" class="form-control" id="prenom" ng-model="vars.prenom">
                            </lx-text-field>
                            <div class="p+">
                                <lx-radio-group>
                                    <lx-radio-button name="homme" value="true" ng-model="vars.sexe">Homme</lx-radio-button>
                                    <lx-radio-button name="femme" value="false" ng-model="vars.sexe">Femme</lx-radio-button>
                                </lx-radio-group>
                            </div>
                            <lx-text-field lx-label="Âge">
                                <input type="text" class="form-control" id="age" ng-model="vars.age">
                            </lx-text-field>
                            <lx-text-field lx-label="Ville">
                                <input type="text" class="form-control" id="ville" ng-model="vars.ville">
                            </lx-text-field>
                            <lx-text-field lx-label="Avatar">
                                <input type="text" class="form-control" id="avatarUrl" ng-model="vars.avatarUrl" ng-blur="validateAvatarUrl()">
                            </lx-text-field>
                            <span class="help-block bg-danger" ng-if="!isavatarUrlValide">Vérifier l'url de votre avatar</span>
                        </div>
                        <div class="card__actions">
                            <lx-button lx-type="raised" class="bgc-amber-600 tc-black" type="submit">Ajouter user</lx-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="p+">
            <!-- <div map-lazy-load="https://maps.google.com/maps/api/js">
                <ng-map center="41,-87" zoom="3"></ng-map>
            </div> -->
            <ng-map geo-fallback-center="[40.74, -74.18]" scrollwheel="false" zoom-to-include-markers="auto">
                <marker ng-repeat="user in users" position="{{user.position}}" title="{{user.prenom}} {{user.nom}}"></marker>



            </ng-map>
        </div>

    </div>
